@model SocialPlatformTime.Models.Post


@* Afisarea unei postari*@

<br />

<div class="card">

    <partial name="PostInfo" model="Model"></partial>

    @if (ViewBag.EsteLogat == true && Model.ApplicationUserId == ViewBag.UserCurent)
    {
        <div class="d-flex flex-row justify-content-between">

            <a class="btn btn-success" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Edit Post</a>

            <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">

                <button class="btn btn-danger" type="submit">Delete Post</button>

            </form>

        </div>
    } else if (ViewBag.EsteAdmin == true)
    {
        <div class="d-flex flex-row justify-content-between">
            <form method="post" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Delete Post</button>
            </form>
        </div>
    }



</div>

<br />
<br />

@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments) // parcurgem toate comentariile
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.CommentBody</p>
                    <small>@comm.Date</small>
                    @if (comm.EditedDate.HasValue)
                    {
                        <p class="text-muted small">
                            <em>Edited: @comm.EditedDate.Value</em>
                        </p>
                    }
                    <strong><i class="bi bi-person"></i> @comm.ApplicationUser.UserName</strong>

                    @* Afisare eticheta sentiment - vizibila doar pentru Admin *@

                    @if (ViewBag.EsteAdmin == true && comm.SentimentLabel != null)
                    {
                        var badgeClass = comm.SentimentLabel switch
                        {
                            "positive" => "bg-success",
                            "negative" => "bg-danger",
                            _ => "bg-secondary"
                        };
                        var sentimentIcon = comm.SentimentLabel switch
                        {
                            "positive" => "bi-emoji-smile",
                            "negative" => "bi-emoji-frown",
                            _ => "bi-emoji-neutral"
                        };

                        <span class="badge @badgeClass ms-2">
                            <i class="bi @sentimentIcon"></i>
                            @comm.SentimentLabel
                            (@(comm.SentimentConfidence?.ToString("P0")))
                        </span>
                    }
                    else if (ViewBag.EsteAdmin == true)
                        {
                        <span class="badge bg-warning ms-2">No sentiment analyzed</span>
                        }

                </div>
                <br>

                @if (comm.ApplicationUserId == ViewBag.UserCurent) // daca comm.ApplicationUserId este cel care face actiunea
                {
                    <div class="d-flex">

                        <div>

                            <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>

                        </div>

                        <div>

                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>

                } else if (ViewBag.EsteAdmin == true)
                {
                    <div class="d-flex">

                        <div>

                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>
                }


                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@
@if (ViewBag.EsteLogat == true)
{
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div class="card">

                    <form method="post" asp-controller="Comments" asp-action="New">

                        <div class="card-body">

                            <input type="hidden" name="PostId" value="@Model.Id" />  @*name="ArticleId" - se face model binding*@

                            <label>Comment content</label>
                            <br />

                            <textarea class="form-control" name="CommentBody"></textarea>
                             @* <span asp-validation-for="CommentBody" class="text-danger"></span> *@

                            <span class="text-danger">
                                @ViewData.ModelState["CommentBody"]?.Errors.FirstOrDefault()?.ErrorMessage
                            </span>

                            <br /><br />

                            <button class="btn btn-success " type="submit">Add comment</button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="col-md-2"></div>

        </div>

</div>

}